.profilePic{
    width:2rem;
    height:auto;
}
.center {
    margin: 0 auto;
}

.navbar{
    color:white;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}

/* remove rounding from cards, buttons and inputs */
.card, .btn, .form-control { border-radius: 0; }
.btn{
    width:  7rem;
}

.hidden{
    visibility: hidden;
}

.full-width {
    margin-left: calc(-100vw / 2 + 500px / 2);
    margin-right: calc(-100vw / 2 + 500px / 2);
  }